.Head {
  height: 40px;
  margin: 4px 0;
  border-top: none;
  display: flex;
  align-items: center;
  // border: 1px solid $WhiteColor;
  width: 100%;
  background-color: $WhiteColor;
  // box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  // text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  @include mq() {
    width: 327px;
    margin: 4px auto;
  }
  .name {
    font-size: 1rem;
    font-weight: 600;
    color: $FontColor;
    margin: auto 4px auto 0;
    text-align: center;
    height: 36px;
    width: 154px;
    background-color: $SubColor;
    line-height: 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
    @include mq() {
      width: 131px;
    }
  }
  .gross {
    font-size: 1rem;
    font-weight: 600;
    color: $FontColor;
    width: 40px;
    height: 36px;
    background-color: $SubColor;
    line-height: 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
    margin: 4px;
    text-align: center;
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
      box-shadow: none;
      // border: 1px solid $SubColor;
      border-bottom: 2px solid $SubColor;
    }
  }
  .point {
    font-size: 1rem;
    font-weight: 600;
    color: $FontColor;
    width: 40px;
    height: 36px;
    line-height: 35px;
    background-color: $SubColor;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
    margin: 4px;
    text-align: center;
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
      box-shadow: none;
      // border: 1px solid $SubColor;
      border-bottom: 2px solid $SubColor;
    }
  }
  .score {
    font-size: 1rem;
    font-weight: 600;
    color: $FontColor;
    width: 40px;
    height: 36px;
    line-height: 35px;
    background-color: $SubColor;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
    margin: 4px;
    text-align: center;
    &:active {
      -webkit-transform: translateY(1px);
      transform: translateY(1px);
      box-shadow: none;
      // border: 1px solid $SubColor;
      border-bottom: 2px solid $SubColor;
    }
  }
  .space {
    width: 44px;
    height: 36px;
    background-color: $SubColor;
    margin-left: 4px;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
    content: "";
  }
}